.header {
    display: flex;
    justify-content: center;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.);
    width: 100%; /* 너비를 100%로 설정 */
    padding: 1rem 0; /* 위아래는 여백을 주고 양옆에는 여백 없음 */
    margin: 0; /* 왼쪽과 오른쪽 끝에 맞추기 위해 margin 없음 */
  }
  
  /* 헤더 내의 h1의 스타일 */
  header h1 {
    color: white;
    margin: 0;
    padding: 0;
  }
  body {
    /* 다운로드 받은 이미지의 경로로 변경 */
    background-image: url("https://i.imgur.com/j4T9UCb.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; /* 스크롤 시 배경 이미지를 고정 */
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    /* 양쪽 여백 추가 (값을 줄여 원하는 사이즈로 조정) */
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* 풋터 스타일 수정 */
  .footer {
    display: flex;
    justify-content: center;
    background-color: black;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.);
    width: 100%; /* 너비를 100%로 설정 */
    padding: 1rem 0; /* 위아래에는 여백을 주고 양옆에는 여백 없음 */
  }

  .footer-text{
    color: white;
  }
  
  /* 갤러리 스타일 */
  #gallery {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-items: center;
  }

/* 이미지 호버 스타일 */
    .gallery-image {
    object-fit: cover; /* 이미지 비율을 유지 */
    flex: 1; /* 이미지의 유연한 크기를 허용 */
    min-width: 200px; /* 이미지의 최소 폭 지정 (원하는 크기로 변경 가능) */
    max-width: 1000px; /* 이미지의 최대 폭 지정 (원하는 크기로 변경 가능) */
    margin: 2rem; /* 주변 여백 지정 (원하는 크기로 변경 가능) */
    box-sizing: border-box;
    break-inside: avoid-column;
  }

  .gallery-image img {
    max-width: 100%;
    height: auto;
  }
  
  .gallery-image:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  
  /* 모달 창 스타일 */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* 모달 창 내부 이미지 스타일 */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close-button {
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

    .modal-content,
    #caption {
    margin-top: 0;
    }

    .modal-content {
        animation-name: zoom;
        animation-duration: 0.6s;
      }

      /* Modal Image */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* 닫기 버튼 스타일 */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .horizontal-ad {
    width: 100%;
    background-color: #f1f1f1; /* 백그라운드와 동일한 색상으로 지정 */
    text-align: center;
    padding: 1rem 0;
    margin: 0; /* 여백 없음으로 수정 */
  }
  
  
  /* 컨테이너 스타일 수정 */
  .container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  margin: 0; /* 여백 없음으로 수정 */
}
  
  /* 광고 사이드바 스타일 제거 */
  .ad-sidebar {
    display: none;
  }

  